 <!---------------------------------------- Sección Quién soy ---------------------------------------------------->
 <div class="card mb-3" name="quiensoy" id="quiensoy">
    <div class="row g-0">
        <div class="col-md-11 txt">
            <div class="card-body">
                <h4 class="card-title display-5 text-center">Bienvenido a mi sitio Web. Gracias por su visita.</h4>
                <h6 class="card-text display-6 text-center">Soy Técnico en programación (UTN-FRCON). Me dedico al
                    diseño y desarrollo web
                    de forma freelance.
                    Soy un aficionado a la tecnología y a la astronomía.</h6>
            </div>
        </div>
        <div class="col-md-1" id="quiensoyeditar">
            <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                role="button">
        </div>
    </div>
</div>
<!---------------------------------------- Fin Sección Quién soy ---------------------------------------------------->