<!---------------------------------------- Sección Quién soy ---------------------------------------------------->
<div class="card mb-3" name="quiensoy" id="quiensoy">
    <div class="row g-0">
        <div class="col-md-11 txt">
            <div class="card-body">
                <h4 class="card-title display-5 text-center">{{persona.titulo_acerca_de}}</h4>
                <h6 class="card-text display-6 text-center">{{persona.acerca_de}}</h6>
            </div>
        </div>
        <div class="col-md-4" *ngIf="isLogged">
            <button class="btn btn-light btn-outline-info btn-floating m-1" data-bs-toggle="modal"
                data-bs-target="#editarQuienSoy" data-bs-whatever="@mdo">
                <img src="./assets/img/iconos/editar.svg" />
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="editarQuienSoy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">EDITAR ACERCA DE...</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updateAcerca()" #acercaDeForm="ngForm">
                    <div class="form-group">

                        <label>Título para perfil: </label>
                        <input type="text" class="form-control" [(ngModel)]="persona.titulo_acerca_de"
                            name="titulo_acerca_de" required minlength="10" maxlength="100" #titulo_acerca_de="ngModel">
                        <div class="alert alert-danger"
                            *ngIf="titulo_acerca_de.invalid && (titulo_acerca_de.dirty || titulo_acerca_de.touched)">
                            <div *ngIf="titulo_acerca_de.errors?.['required']">
                                Escribir un título para el perfil !!!
                            </div>
                            <div *ngIf="titulo_acerca_de.errors?.['minlength']">
                                Mínimo 10 caracteres !!!
                            </div>
                            <div *ngIf="titulo_acerca_de.errors?.['maxlength']">
                                Máximo 100 caracteres !!!
                            </div>
                        </div>

                        <label>Descripción para perfil : </label>
                        <textarea class="form-control" rows="3" [(ngModel)]="persona.acerca_de" name="acerca_de"
                            required minlength="10" maxlength="500" #acerca_de="ngModel"></textarea>
                        <div class="alert alert-danger"
                            *ngIf="acerca_de.invalid && (acerca_de.dirty || acerca_de.touched)">
                            <div *ngIf="acerca_de.errors?.['required']">
                                Escribir una descripción !!!
                            </div>
                            <div *ngIf="acerca_de.errors?.['minlength']">
                                Mínimo 10 caracteres !!!
                            </div>
                            <div *ngIf="acerca_de.errors?.['maxlength']">
                                Máximo 500 caracteres !!!
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-success mt-4" [disabled]="!acercaDeForm.form.valid"
                        data-bs-dismiss="modal">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------- Fin Sección Quién soy ---------------------------------------------------->