<!----------------------------------------     Footer   ---------------------------------------------------->
<footer class="bg-dark text-center text-white">

    <div class="container p-4 pb-4">
        <section class="mb-4">
        </section>
    </div>

    <div class="text-center p-3 colorprincipal">
        © 2023 Copyright:
        <a class="text-white" href="https://jlv-chino.github.io" target="_blank">José Luis Vilches</a>
    </div>

</footer>
<!---------------------------------------- Fin Footer ---------------------------------------------------->