  <!----------------------------------------     Footer   ---------------------------------------------------->
  <footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-4">
        <section class="mb-4">

            <a href="https://www.facebook.com/chino.vilches" target="_blank">
                <img src="./assets/img/iconos/facebook.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                    role="button">
            </a>

            <a href="https://www.instagram.com/jose.luis.vilches/" target="_blank">
                <img src="./assets/img/iconos/instagram.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                    role="button">
            </a>

            <a href="https://www.linkedin.com/in/josé-luis-vilches-34362246" target="_blank"><img
                    src="./assets/img/iconos/linkedin.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                    role="button">
            </a>

            <a href="https://github.com/jlv-chino" target="_blank">
                <img src="./assets/img/iconos/github.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                    role="button">
            </a>

        </section>
    </div>

    <div class="text-center p-3 colorprincipal">
        © 2023 Copyright:
        <a class="text-white" href="https://jlv-chino.github.io" target="_blank">José Luis Vilches</a>
    </div>
</footer>
<!---------------------------------------- Fin Footer ---------------------------------------------------->