<!--<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edición de empleado</h3>
    <form (ngSubmit)="updatePersona()" #empleadoForm="ngForm">
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="persona.nombre" name="nombre" required
                minlength="4" maxlength="10" placeholder="Digite su nombre " #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            </div>
        </div>
        <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">Guardar</button>
    </form>
</div>-->

<div class="modal fade" id="editarSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Skill</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updatePersona()" #empleadoForm="ngForm">
                    <div class="form-group">
                        <label>Nombre : </label>
                        <input type="text" class="form-control" id="nombre" [(ngModel)]="persona.nombre" name="nombre"
                            required minlength="4" maxlength="10" placeholder="Digite su nombre " #nombre="ngModel">
                        <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        </div>
                    </div>
                    <button class="btn btn-success" [disabled]="!empleadoForm.form.valid">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>





<!--<form (ngSubmit)="updatePersona()">
    <div>
        <label for="nombre">nombre</label>
        <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" name="apellido"
            value="{{persona.nombre}}">
    </div>
    <div>
        <label for="apellido">apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido">
    </div>
    <div>
        <label for="imagen">imagen</label>
        <input type="text" class="form-control" id="imagen" name="imagen" value="{{persona.imagen}}">
    </div>
    <div>
        <label for="puesto">puesto</label>
        <input type="text" class="form-control" id="puesto" name="puesto" value="{{persona.puesto}}">
    </div>
    <div>
        <label for="compania">compania</label>
        <input type="text" class="form-control" id="compania" name="compania" value="{{persona.compania}}">
    </div>
    <div>
        <label for="ubicacion">ubicacion</label>
        <input type="text" class="form-control" id="ubicacion" name="ubicacion" value="{{persona.ubicacion}}">
    </div>
    <div>
        <label for="telefono">telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" value="{{persona.telefono}}">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{persona.email}}">
    </div>
    <div>
        <label for="titulo_acerca_de">titulo_acerca_de</label>
        <input type="text" class="form-control" id="titulo_acerca_de" name="titulo_acerca_de"
            value="{{persona.titulo_acerca_de}}">
    </div>
    <div>
        <label for="acerca_de">acerca_de</label>
        <input type="text" class="form-control" id="acerca_de" name="acerca_de" value="{{persona.acerca_de}}">
    </div>
    <div>
        <label for="user">user</label>
        <input type="text" class="form-control" id="user" name="user" value="{{persona.user}}">
    </div>
    <div >
        <label for="password">password</label>
        <input type="text" class="form-control" id="password" name="password" value="{{persona.password}}">
    </div>
    <button class="btn btn-primary">Submit</button>
</form>

<div class="modal-header">
    <h4 class="modal-title">Título del modal</h4>
    <button type="button" class="close" aria-label="Cerrar" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Contenido del modal</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="saveData()">Guardar</button>
</div>-->