  <!---------------------------------------- Sección Perfil ---------------------------------------------------->
  <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" id="perfil">
            <img [src]="persona.imagen" class="img-fluid rounded-circle" id="perfilimg" alt="Imagen">
        </div>
        <div class="col-md-4" *ngIf="visualizarBotones()">
            <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
             data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" href=""
                role="button">
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Perfil</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="subirImagen" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                <div class="mb-3">
                  <label for="nombreEditar" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="nombreEditar">
                </div>
                <div class="mb-3">
                    <label for="apellidoEditar" class="col-form-label">Apellido:</label>
                    <input type="text" class="form-control" id="apellidoEditar">
                </div>
                <div class="mb-3">
                    <label for="puestoEditar" class="col-form-label">Puesto:</label>
                    <input type="text" class="form-control" id="puestoEditar">
                </div>
                <div class="mb-3">
                    <label for="companiaEditar" class="col-form-label">Compañia:</label>
                    <input type="text" class="form-control" id="companiaEditar">
                </div>
                <div class="mb-3">
                    <label for="ubicacionEditar" class="col-form-label">Ubicación:</label>
                    <input type="text" class="form-control" id="ubicacionEditar">
                </div>
                <div class="mb-3">
                    <label for="emailEditar" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="emailEditar">
                </div>
                <div class="mb-3">
                    <label for="telefonoEditar" class="col-form-label">Teléfono:</label>
                    <input type="text" class="form-control" id="telefonoEditar">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
          </div>
        </div>
      </div>

    <div class="row g-0 pb-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" id="informacion">
            <div class="card-body txt">
                <h4 class="card-title display-5 text-center">{{persona.nombre}} {{persona.apellido}}</h4>
                <h6 class="card-text display-6 text-center">{{persona.puesto}} {{persona.compania}}</h6>
                <h3 class="text-center">
                    <small class="text-muted">{{persona.ubicacion}}
                        <button class="btn btn-info" type="button" (click)="infoContacto()">Información de contacto</button>
                    </small>
                </h3>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<!---------------------------------------- Fin Sección Perfil ---------------------------------------------------->