<!--<div class="modal-header">
  <h4 class="modal-title">Editar Perfil</h4>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3 form-group">
      <label for="url" class="col-form-label">Ingrese URL de la imagen de perfil:</label>
      <input type="url" class="form-control" name="imagenPerfil" id="imagenPerfil"
        placeholder="https://example.com" pattern="https://.*">
    </div>
    <div class="mb-3 form-group">
      <label for="nombre" class="col-form-label">Nombre:</label>
      <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" value={{persona.nombre}}>
    </div>
    <div class="mb-3 form-group">
      <label for="apellido" class="col-form-label">Apellido:</label>
      <input type="text" class="form-control" id="apellido" name="apellido" formControlName="apellido" value={{persona.apellido}}>
    </div>
    <div class="mb-3 form-group">
      <label for="puesto" class="col-form-label">Puesto:</label>
      <input type="text" class="form-control" id="puesto" name="puesto" value={{persona.puesto}}>
    </div>
    <div class="mb-3 form-group">
      <label for="compania" class="col-form-label">Compañia:</label>
      <input type="text" class="form-control" id="compania" name="compania" value={{persona.compania}}>
    </div>
    <div class="mb-3 form-group">
      <label for="ubicacion" class="col-form-label">Ubicación:</label>
      <input type="text" class="form-control" id="ubicacion" name="ubicacion" value={{persona.ubicacion}}>
    </div>
    <div class="mb-3 form-group">
      <label for="email" class="col-form-label">Email:</label>
      <input type="email" class="form-control" id="email" name="email" value={{persona.email}}>
    </div>
    <div class="mb-3 form-group">
      <label for="telefono" class="col-form-label">Teléfono:</label>
      <input type="tel" class="form-control" id="telefono" name="telefono" value={{persona.telefono}}>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="updatePersona()">Guardar</button>
</div>-->