  <!---------------------------------------- Sección Educación ---------------------------------------------------->
  <div class="card mb-3" name="educacion" id="educacion">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Educación</h3>
            </div>
            <div class="col-md-1">
                <img src="./assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                    role="button">
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let educacion of educacionList">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img [src]="educacion.img" class="img-fluid" alt="Imagen de UTN">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{educacion.school}}</h4>
                        <h6 class="card-text">{{educacion.title}} - {{educacion.end}}</h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
    </ul>
</div>
<!---------------------------------------- Fin Sección Educación ---------------------------------------------------->