  <!---------------------------------------- Sección Experiencia ---------------------------------------------------->
  <div class="card mb-3" name="experiencia" id="experiencia">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Experiencia</h3>
            </div>
            <div class="col-md-1">
                <img src="./assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                    role="button">
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img src="./assets/img/angular.png" class="img-fluid" alt="Icono de AngularJS">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">FrontEnd Developer</h4>
                        <h6 class="card-text">Pixar - Jornada parcial</h6>
                        <h5>
                            <small class="text-muted">Marzo 2019 - actualidad - más de 3 años</small>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img src="./assets/img/java.png" class="img-fluid" alt="Icono de Java">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">BackEnd Developer</h4>
                        <h6 class="card-text">Pixar - Jornada parcial</h6>
                        <h5>
                            <small class="text-muted">Marzo 2019 - actualidad - más de 3 años</small>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img src="./assets/img/mysql.png" class="img-fluid" alt="Icono de mySQL">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">Data Base Administrator</h4>
                        <h6 class="card-text">Pixar - Jornada parcial</h6>
                        <h5>
                            <small class="text-muted">Marzo 2019 - actualidad - más de 3 años</small>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
        </li>
    </ul>
</div>
<!---------------------------------------- Fin Sección Experiencia ---------------------------------------------------->