<!---------------------------------------- Sección Experiencia ---------------------------------------------------->
<div class="card mb-3" name="experiencia" id="experiencia">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Experiencia</h3>
            </div>
            <div class="col-md-1" *ngIf="visualizarBotones()">
                <img src="./assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                    data-bs-toggle="modal" data-bs-target="#agregarExperiencia" data-bs-whatever="@mdo" href=""
                    role="button">
            </div>
        </div>
    </div>

    <div class="modal fade" id="agregarExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Experiencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="url" class="col-form-label">Ingrese imagen/icono de experiencia:</label>
                            <input type="url" class="form-control" name="imagenExperiencia" id="imagenExperiencia"
                                placeholder="https://example.com" pattern="https://.*">
                        </div>
                        <div class="mb-3">
                            <label for="nombreEditar" class="col-form-label">Compañia:</label>
                            <input type="text" class="form-control" id="nombreExperiencia">
                        </div>
                        <div class="mb-3">
                            <label for="apellidoEditar" class="col-form-label">Puesto:</label>
                            <input type="text" class="form-control" id="puestoExperiencia">
                        </div>
                        <div class="mb-3">
                            <label for="puestoEditar" class="col-form-label">Modalidad:</label>
                            <input type="text" class="form-control" id="modalidadExperiencia">
                        </div>
                        <div class="mb-3">
                            <label for="fechaInicio" class="col-form-label">Fecha de inicio:</label>
                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" min="1970-01-01"
                                max="2023-05-15">
                        </div>
                        <div class="mb-3">
                            <label for="fechaFin" class="col-form-label">Fecha de fin:</label>
                            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let experiencia of experienciaList">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img [src]="experiencia.img" class="img-fluid" alt="Icono de AngularJS">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{experiencia.position}}</h4>
                        <h6 class="card-text">{{experiencia.company}} - {{experiencia.mode}}</h6>
                        <h5>
                            <small class="text-muted">{{experiencia.start}} - {{experiencia.end}} -
                                {{experiencia.timeelapsed}}</small>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="visualizarBotones()">

                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        data-bs-toggle="modal" data-bs-target="#editarExperiencia" data-bs-whatever="@mdo" href=""
                        href="" role="button">

                        <div class="modal fade" id="editarExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editar esta Experiencia</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="url" class="col-form-label">Ingrese imagen/icono de experiencia:</label>
                                            <input type="url" class="form-control" name="imagenExperiencia" id="imagenExperiencia"
                                                placeholder="https://example.com" pattern="https://.*">
                                        </div>
                                        <div class="mb-3">
                                            <label for="nombreEditar" class="col-form-label">Compañia:</label>
                                            <input type="text" class="form-control" id="nombreExperiencia">
                                        </div>
                                        <div class="mb-3">
                                            <label for="apellidoEditar" class="col-form-label">Puesto:</label>
                                            <input type="text" class="form-control" id="puestoExperiencia">
                                        </div>
                                        <div class="mb-3">
                                            <label for="puestoEditar" class="col-form-label">Modalidad:</label>
                                            <input type="text" class="form-control" id="modalidadExperiencia">
                                        </div>
                                        <div class="mb-3">
                                            <label for="fechaInicio" class="col-form-label">Fecha de inicio:</label>
                                            <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" min="1970-01-01"
                                                max="2023-05-15">
                                        </div>
                                        <div class="mb-3">
                                            <label for="fechaFin" class="col-form-label">Fecha de fin:</label>
                                            <input type="date" class="form-control" id="fechaFin" name="fechaFin">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-success">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>    

                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button" (click)="eliminarExperiencia()">
                </div>
            </div>
        </li>
    </ul>
</div>
<!---------------------------------------- Fin Sección Experiencia ---------------------------------------------------->