  <!---------------------------------------- Sección Experiencia ---------------------------------------------------->
  <div class="card mb-3" name="experiencia" id="experiencia">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Experiencia</h3>
            </div>
            <div class="col-md-1" *ngIf="visualizarBotones()">
                <img src="./assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                    role="button">
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let experiencia of experienciaList">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-1">
                    <img [src]="experiencia.img" class="img-fluid" alt="Icono de AngularJS">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">{{experiencia.position}}</h4>
                        <h6 class="card-text">{{experiencia.company}} - {{experiencia.mode}}</h6>
                        <h5>
                            <small class="text-muted">{{experiencia.start}} - {{experiencia.end}} - {{experiencia.timeelapsed}}</small>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="visualizarBotones()">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
        </li>
    </ul>
</div>
<!---------------------------------------- Fin Sección Experiencia ---------------------------------------------------->