<!---------------------------------------- Sección Contáctame ---------------------------------------------------->
<div class="container text-center txtsec" name="contactame" id="contactame">
    <div class="row">
        <div class="col">
            <h3 class="display-5">Contáctame</h3>
        </div>
    </div>
</div>

<div class="container text-center paddsec">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 justify-content-center, align-items-center">

            <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
                <div class="mb-3 form-group">
                    <label for="fullname" class="form-label">Nombre y Apellido</label>
                    <input type="text" class="form-control" name="Fullname" id="Fullname" formControlName="Fullname"
                        placeholder="Escriba su nombre y apellido" aria-label="default input example">
                </div>
                <div class="mb-3 form-group">
                    <label for="Email" class="form-label">Dirección de Email</label>
                    <input type="email" class="form-control" name="Email" id="Email" formControlName="Email"
                        placeholder="mi_email@gmail.com">
                </div>
                <div class="mb-3 form-group">
                    <label for="comment" class="form-label">Mensaje</label>
                    <textarea class="form-control" formControlName="Comment" name="Comment" id="Comment" rows="3">
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Enviar Mensaje</button>
            </form>

        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<!---------------------------------------- Fin Sección Contáctame ---------------------------------------------------->