 <!---------------------------------------- Sección Contáctame ---------------------------------------------------->
 <div class="container text-center txtsec" name="contactame" id="contactame">
    <div class="row">
        <div class="col">
            <h3 class="display-5">Contáctame</h3>
        </div>
    </div>
</div>

<div class="container text-center paddsec">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                    <input class="form-control" type="text" id="exampleFormControlInput1"
                        placeholder="Escriba su nombre y apellido" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Dirección de Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput2"
                        placeholder="mi_email@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">No soy un robot</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<!---------------------------------------- Fin Sección Contáctame ---------------------------------------------------->