  <!---------------------------------------- Sección Skill ---------------------------------------------------->
  <div class="card mb-3" name="skill" id="skill">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Hard Skill & Soft Skill</h3>
            </div>
            <div class="col-md-1">
                <img src="./assets/img/iconos/agregar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                    role="button">
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush list-group">
        <li class="list-group-item" *ngFor="let skill of skillList">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h6 class="card-text text-center">{{skill.detail}}</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width]="skill.percentage" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1" href=""
                        role="button">
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button">
                </div>
            </div>
        </li>
    </ul>
</div>
<!---------------------------------------- Fin Sección Skill ---------------------------------------------------->