<!---------------------------------------- Sección Skill ---------------------------------------------------->
<div class="card mb-3" name="skill" id="skill">
    <div class="container text-center txtsec">
        <div class="row g-0">
            <div class="col-md-11">
                <h3 class="display-5 text-center">Hard Skill & Soft Skill</h3>
            </div>
            <div class="col-md-1" *ngIf="visualizarBotones()">
                <button class="btn btn-light btn-outline-info btn-floating m-1" data-bs-toggle="modal"
                    data-bs-target="#agregarSkill" data-bs-whatever="@mdo">
                    <img src="./assets/img/iconos/agregar.svg" />
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="agregarSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">AGREGAR SKILL</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="addSkill()" #addSkillForm="ngForm">
                        <div class="form-group">

                            <label>Descrpción de Skill: </label>
                            <input type="text" class="form-control" id="titulo_skill"
                                [(ngModel)]="skill.titulo_skill" name="titulo_skill" required minlength="10"
                                maxlength="50" #titulo_skill="ngModel">
                            <div class="alert alert-danger"
                                *ngIf="titulo_skill.invalid && (titulo_skill.dirty || titulo_skill.touched)">
                                <div *ngIf="titulo_skill.errors?.['required']">
                                    Escribir una descrición para el skill !!!
                                </div>
                                <div *ngIf="titulo_skill.errors?.['minlength']">
                                    Mínimo 10 caracteres !!!
                                </div>
                                <div *ngIf="titulo_skill.errors?.['maxlength']">
                                    Máximo 100 caracteres !!!
                                </div>
                            </div>

                            <label>Porcentaje de skill: </label>
                            <input type="text" class="form-control" id="porcentaje_skill"
                                [(ngModel)]="skill.porcentaje_skill" name="porcentaje_skill" required minlength="1"
                                maxlength="3" #porcentaje_skill="ngModel">
                            <div class="alert alert-danger"
                                *ngIf="porcentaje_skill.invalid && (porcentaje_skill.dirty || porcentaje_skill.touched)">
                                <div *ngIf="porcentaje_skill.errors?.['required']">
                                    Escribir un porcentaje para el skill !!!
                                </div>
                                <div *ngIf="porcentaje_skill.errors?.['minlength']">
                                    Mínimo 1 dígito !!!
                                </div>
                                <div *ngIf="porcentaje_skill.errors?.['maxlength']">
                                    Máximo 3 dígitos !!!
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-success mt-4" [disabled]="!addSkillForm.form.valid"
                            data-bs-dismiss="modal">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group list-group-flush list-group">
        <li class="list-group-item" *ngFor="let skill of skillList">
            <div class="row g-0">
                <div class="col-md-1">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h6 class="card-text text-center">{{skill.detail}}</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                [style.width]="skill.percentage" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>




                <div class="col-md-2" *ngIf="visualizarBotones()">
                    <img src="./assets/img/iconos/editar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" data-bs-toggle="modal" data-bs-target="#editarSkill" data-bs-whatever="@mdo"
                        role="button">
                   
                    <img src="./assets/img/iconos/eliminar.svg" class="btn btn-light btn-outline-info btn-floating m-1"
                        href="" role="button" (click)="eliminarSkill()">
                </div>
            </div>
        </li>
    </ul>
</div>
<!---------------------------------------- Fin Sección Skill ---------------------------------------------------->