<!---------------------------------------- Header ---------------------------------------------------->
<header>

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
                target="_blank"><img src="https://i.pinimg.com/originals/3d/78/46/3d7846d14806ce3c05254bd49b7d21ff.png"
                    id="logo"></a>

            <section class="text-center text-white">

                <a href="https://www.linkedin.com/in/josé-luis-vilches-34362246" target="_blank"><img
                        src="./assets/img/iconos/linkedin.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                        role="button">
                </a>

                <a href="https://github.com/jlv-chino" target="_blank">
                    <img src="./assets/img/iconos/github.svg" class="btn btn-info btn-outline-light btn-floating m-1"
                        role="button">
                </a>

            </section>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#quiensoy">Quién soy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#experiencia">Experiencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#educacion">Educación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#skill">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#contactame">Contáctame</a>
                        </li>
                    </ul>

                    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                        <div class="form-outline form-white col-7 mb-4 mt-4" *ngIf="inputs">
                          <input type="text" id="nombreUsuario" name="nombreUsuario" size="6" class="form-control"
                            [(ngModel)]="nombreUsuario" required />
                          <label class="form-label" for="nombreUsuario">Usuario</label>
                        </div>
        
                        <div class="form-outline form-white col-7 mb-4" *ngIf="inputs">
                          <input type="password" id="password" name="password" class="form-control input-sm" [(ngModel)]="password"
                            required />
                          <label class="form-label" for="password">Password</label>
                        </div>
        
                        <button class="btn btn-outline-light btn-lg px-5" type="submit" [(ngModel)]="buttonText">{{buttonText}}</button>

                      </form>

                </div>
            </div>
        </div>
    </nav>

    <img src="https://i.pinimg.com/originals/88/4e/0d/884e0ddf6133fda903cf7e0270331a45.jpg" class="img-fluid intro"
        alt="Imagen principal">

</header>
<!---------------------------------------- Fin Header ---------------------------------------------------->