  <!---------------------------------------- Header ---------------------------------------------------->
  <header>

    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"><img src="../../../assets/img/logoarg.png" id="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#quiensoy">Quién soy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#experiencia">Experiencia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#educacion">Educación</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#skill">Skill</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#proyectos">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#contactame">Contáctame</a>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search" [formGroup]="myForm" (ngSubmit)="submitFormulario()">
                        <ul>
                            <div class="login">
                                <input class="form-control me-2" type="text" [class.is-invalid]="f.usuario.errors && f.usuario.touched" formControlName="usuario" placeholder="Usuario" aria-label="usuario">
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Usuario obligatorio
                                </div>
                            </div>
                            <div class="login">
                                <input class="form-control me-2" type="password" [class.is-invalid]="f.password.errors && f.password.touched" formControlName="password" placeholder="Password" aria-label="password">
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                    Password obligatorio
                                </div>
                            </div>
                            <div class="login">
                                <button class="btn btn-success" [innerHTML]="buttonText"></button>
                            </div>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <img [src]="miPortfolio.backImage" class="img-fluid intro" alt="Imagen principal">

</header>
<!---------------------------------------- Fin Header ---------------------------------------------------->